<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error: Incorrect Password</title>
    <link rel="stylesheet" href="/styles/confirm.css" />
  </head>
  <body>
    <div class="container">
      <h1>Error: Incorrect Password</h1>
      The password entered does not match the password on record. Please try
      again.
      <br /><br />
      Click <a href="/login">here</a> to be redirected to the login page.
    </div>
  </body>
</html>
