<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error: Incorrect Phone Format</title>
    <link rel="stylesheet" href="/styles/confirm.css" />
  </head>
  <body>
    <div class="container">
      <h1>Error: Incorrect Phone Format</h1>
      The phone number entered does not match the format xxx-xxx-xxxx. Please
      try again.
      <br /><br />
      Click <a href="/register">here</a> to be redirected to the register page.
    </div>
  </body>
</html>
