<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - EDMS</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header class="topbar">
      <h2>Login - EDMS</h2>
    </header>

    <main class="container">
      <form action="/loginSubmit" method="post" class="auth-form">
        <h1>Welcome Back</h1>

        <label
          >User ID<span class="req">*</span>:
          <input type="text" name="userid" placeholder="jdoe12" required />
        </label>

        <label
          >Password<span class="req">*</span>:
          <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
          />
        </label>

        <input type="submit" value="Login" />
        <p class="alt-link">
          Need an account? <a href="/register">Register here</a>
        </p>
      </form>
    </main>

    <footer>
      <p>&copy; <%= new Date().getFullYear() %> Paramraj Singh Machre</p>
    </footer>
  </body>
</html>
