<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error: Password Mismatch</title>
    <link rel="stylesheet" href="/styles/confirm.css" />
  </head>
  <body>
    <div class="container">
      <h1>Error: Password Mismatch</h1>
      The passwords you entered do not match. Please try again.
      <br /><br />
      Click <a href="/register">here</a> to return to the registration page.
    </div>
  </body>
</html>
