<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Account Registration</title>
    <link rel="stylesheet" href="/styles/confirm.css" />
  </head>
  <body>
    <div class="container">
      <h1>Thank you!</h1>
      Thank you for creating an account!
      <br /><br />
      Click <a href="/login">here</a> to be redirected to the login page.
    </div>
  </body>
</html>
