<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error: User Not Found</title>
    <link rel="stylesheet" href="/styles/confirm.css" />
  </head>
  <body>
    <div class="container">
      <h1>Error: User Not Found</h1>
      No user exists with the provided email address. Please double-check your
      credentials or create a new account.
      <br /><br />
      Click <a href="/login">here</a> to return to the login page.<br />
      Or <a href="/register">sign up</a> for a new account.
    </div>
  </body>
</html>
