<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error: UserId Exists</title>
    <link rel="stylesheet" href="/styles/confirm.css" />
  </head>
  <body>
    <div class="container">
      <h1>Error: UserId Exists</h1>
      The userID already exists in the database. Please try again.
      <br /><br />
      Click <a href="/register">here</a> to be redirected to the registration
      page.
    </div>
  </body>
</html>
